{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Change Password </title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:wght@800&amp;display=swap'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
    .linktext{
      margin-bottom: 10px;
    }
    .linktext a{
      font-size: 14px;
      color: #fff;
    }
  </style>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="bgdiv pt-5">
  <h3 class="mainhead">POLICY TRACKING SYSTEM</h3>
  <div class="login-form">
    <div class="form-title">
      Change Password 
    </div>
    <form action="/change_password/" method="post">
      {% csrf_token %}
    <div class="form-input">
      <label for="password">Username</label>
      <input type="text" id="Username" name="username" required>
    </div>
    <div class="form-input">
      <label for="password">Old Password</label>
      <input type="password" id="oldpassword" name="oldpassword" required>
    </div>
    <div class="form-input">
      <label for="password">New Password</label>
      <input type="password" id="newpassword" name="password" required>
    </div>
    <div class="form-input">
      <label for="password">Confirm New Password</label>
      <input type="password" id="confirmpassword" name="password2" required>
    </div>

    <div class="form-input">
      <button id="login-btn">Change Password</button>
    </div>
  </form> 
  {% if msg %}
  <p class="text-warning text-center">{{msg}}</p>
  {% endif %}   
  </div>
  
</div>
<!-- partial -->
  <script src='https://unpkg.com/sweetalert/dist/sweetalert.min.js'></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script  src="{% static 'js/main.js' %}"></script>

</body>
</html>